		html,body,.sy,.wrapper{
				height: 100%;
			}
		.sy>.wrapper{
			position: relative;
			display: flex;
			flex-direction: column;
		}
		.sy>.wrapper>.top{
			flex-basis: 20%;
			background-color: black;

		}
		.sy>.wrapper>.bottom{
			flex: 1;
		}
		.sy>.wrapper>.bottom::after{
			display: block;
			content: "";
			clear: both;
		}
		.sy>.wrapper>.bottom>.left{
			width: 15%;
			height: 100%;
			float: left;
			overflow-y:none; 
			background-color: teal;
		}
		.sy>.wrapper>.bottom>.right{
			height: 100%;
			width: 85%;
			float: right;
			background-color:#ededed;
		}
		.sy>.wrapper>.bottom>.right>.content{
			height: 96%;
			width: 96%;
			margin: 2%;
			background-color: #fff;
		}